body {
  background-color      : black;
  color                 : white;
  font-family           : sans-serif;

  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}

.controls {
  position    : fixed;
  left        : 50%;
  margin-left : -300px;
  width       : 600px;
  text-align  : center;
}

#animator-controls {
  top : 20px;
}

#model-controls {
  top : 60px;
}

.control-button {
  display : inline-block;
  padding : 10px 20px 10px 20px;
  cursor  : pointer;
  background-color: #222;
}

.control-button:hover {
  background-color : white;
  color            : black;
}

#backdrop rect {
  fill : #222;
}